/* Default palette */@charset "utf-8";
/* -------------------------------------------------------------------------------

    0.  Reset & Clearfix
    1.  General
    2.  Menu
    3.  Pages and Subpages
    4.  Separators
    5.  Home Page
    6.  About Us
    7.  Our Services
    8.  Portfolio
    9.  Portfolio Images Hover Effects
    10. Portfolio Project page
    11. Portfolio Testimonials
    12. News
	13. News Images Hover Effects
	14. News Post Page
	15. Twitter
    16. Contact
	17. Footer
    18. Media Queries
	
*/

/* ------- */
/*
/* ------- */
.clapat-tabs .list-wrap { background:#eeeeee; clear: both; margin: 0 0 10px; padding: 20px;}

.clapat-tabs .ui-tabs-nav li.ui-state-active a, .clapat-tabs .ui-tabs-nav li.ui-state-active a:hover ,
.widget .tab-inside.clapat-tabs >ul li.ui-state-active a, .widget .tab-inside.clapat-tabs >ul li.ui-state-active a:hover  {
    background-color:#8D0B16;
    color: #FFFFFF;
}
.widget_ionuttabs .widget-comment  > a { color:#8D0B16; }
.widget_ionuttabs .widget-comment  > span { color:#ababab; }
.widget_ionuttabs .list-wrap  { background:#F2F2F2; }
.dropcap.dc-color:first-letter {
   color: #8D0B16;
}

.dropcap.dc-background:first-letter {
   background-color: #8D0B16;
   color: #FFFFFF;
}
.dropcap.dc-background.dc-black:first-letter {
   background-color: #000000;
   color: #FFFFFF;
}

.dropcap.dc-black:first-letter {
   color: #000000;
}

.large-notice-light {
    background-color: #ebebeb;
}
.large-notice-dark {
    background-color: #000000;
}
.large-notice-dark h2 {
    color: #FFFFFF;
}
.large-notice-light h2 {
    color: #000000;
}

.square-list li, .check-list li, .plus-list li, .arrow-list li, .cross-list li, .star-list li, .minus-list li, .arrow2-list li, .circle-list li {
    color: #7f7f7f;
}
.square-list li:hover, .check-list li:hover, .plus-list li:hover, .arrow-list li:hover, .cross-list li:hover, .star-list li:hover, .minus-list li:hover, .arrow2-list li:hover, .circle-list li:hover {
    color: #8D0B16;
}

/* ------------------------------------------------------------------------------- */
/*  1. General
/* ------------------------------------------------------------------------------- */	

	html,body{
		font-family: 'Arial';
		font-size:12px;
		width:100%;
		height:100%;
		color:#A1A1A1;		
	}
	
	.white {
		color:#FFFFFF;
	}
	
	.color {
		color:#8D0B16;
	}
	
	.black {
		color:#262932;
	}
	
	a, li {
        color: #555555;
    }

	.btn-small, #submit {
		background:#8D0B16;
	}
	
	.btn-small, #submit {
		color: #FFFFFF;
	}
	
	.btn-small:hover, #submit:hover {
		background:#262932;
		color:#FFFFFF;
	}
	.clapat-button,  #submit, #searchsubmit {

		background:#8D0B16;
		color: #FFFFFF;

}

	.clapat-button:hover, #submit:hover, #searchsubmit:hover {

		background:#262932;
		color:#FFFFFF;
}


/* ------------------------------------------------------------------------------- */
/*  2. Menu
/* ------------------------------------------------------------------------------- */


	#navigation {
		background:#1e2024;	
	}
	
	#logo {
		color:#FFFFFF;
	}
	
	#navigation a, #navigation a:active, #navigation a:visited {
		color:#7f7f7f;
	}

	#navigation ul li:hover a, #navigation ul li.current a {
		color: #FFFFFF;
		border-top: 5px solid #8D0B16;
	}

/* ------------------------------------------------------------------------------- */
/*  3. Pages and Subpages
/* ------------------------------------------------------------------------------- */


	#index {
		background:#000000;
	}
	
	.ourteam {
		background:#ebebeb;
	}
	
	.newsletter {
		background:#8D0B16;
	}
	
	.projects-filters {
		background:#262932;
	}
	
	#news {
		background:#dddddd;
	}
	
	.twitter {
		background:#8D0B16;
	}
	
	.contact-header {
		background:#FFFFFF;
	}
	
	.contact-form {
		background:#ECECEC;
	}
	
	.footer {
		background:#262932;
	}


/* ------------------------------------------------------------------------------- */
/*  5. Home Page
/* ------------------------------------------------------------------------------- */


	#maximage {
		background:#000000;						
	}

	
	.in-slide-content h1{ 		
		color:#FFFFFF;
		border-bottom:%white solid 1px;
	}
	
	.in-slide-content p{ 		
		color:#FFFFFF;		
	}

	
/* ------------------------------------------------------------------------------- */
/*  6. About Us
/* ------------------------------------------------------------------------------- */

	
	.meter { 
		background:#ebebeb;
	}
	
	.meter > div {
		background-color:#8D0B16;
	}
	
	.team {
		background-color:#FFFFFF;
	}
	
	
	.team-overlay {
		background-color:#FFFFFF;
	}
	
	p.team-function {
		color:#A1A1A1;
	}
	
	p.team-description {
		color:#555555;
	}
	
	.team-social {
		background-color:#262932;
	}
	
	.team-social:hover {
		background-color:#8D0B16;
	}

/* ------------------------------------------------------------------------------- */
/*  7. Our Services
/* ------------------------------------------------------------------------------- */

	input.newsletter-email, input.newsletter-name {
		background:#FFFFFF;
		color:#C4C4C4;
	}
	
	button.newsletter-sent {
		color: #7f7f7f;
		background:#262932;

	}
	
	button.newsletter-sent:hover {
		background:#262932;
		color:#FFFFFF;
	}


/* ------------------------------------------------------------------------------- */
/*  8. Portfolio
/* ------------------------------------------------------------------------------- */

	
	nav.primary ul li a {
		color:#7f7f7f;
		background:#363942;
	}
	
	nav.primary ul li a:hover {
		color:#363942;
		background:#FFFFFF;
	}
	
	nav.primary ul li a:active, nav.primary ul li a.selected {
		background:#8D0B16;
		color:#FFFFFF;
	}	

/* ------------------------------------------------------------------------------- */
/*  9. Portfolio Images Hover Effects
/* ------------------------------------------------------------------------------- */
	

	.view .mask {
	   background:#8D0B16;
	}
	
	
	.mask h5 {
		color:#FFFFFF;
	}
	
	.mask p {
		color:#FFFFFF;
	}

/* ------------------------------------------------------------------------------- */
/*  10. Portfolio Project page
/* ------------------------------------------------------------------------------- */	
	
	.project_page {
		background-color:#FFFFFF;
	}
	
	
	.categories li, .categories li:last-child {
		border-bottom: 1px solid #F2F2F2;
	}
	.categories li a {
		color: #A1A1A1;
	}
	.categories li a:hover {
		color: #000000;
	}

/* ------------------------------------------------------------------------------- */
/*  11. Portfolio Testimonials
/* ------------------------------------------------------------------------------- */		
	
	.carousel_testimonials li h5 {
		color:#000000;
	}

/* ------------------------------------------------------------------------------- */
/*  12. News
/* ------------------------------------------------------------------------------- */
	
	
	.container-news {
		background:#dddddd;
	}
	
	.container-news h1 {
		color:#000000;
	}	

	.list_carousel li {
		background-color: #eeeeee;
	}
	
	.list_carousel li h5 {
		color:#000000;
	}
	
	p.news-date {
		color:#A1A1A1;
	}
	
	.prev {
		background-color:#FFFFFF;		
	}
	
	.prev:hover {
		background-color:#8D0B16;
	}
	
	.next {
		background-color:#FFFFFF;
	}
	
	.next:hover {
		background-color:#8D0B16;
	}

/* ------------------------------------------------------------------------------- */
/*  13. News Images Hover Effects
/* ------------------------------------------------------------------------------- */

	.news .mask {
	   background: rgba(0, 0, 0, 0.5);
	}
	
	.news  a.icon.zoom {
		background-color:%white ;
	}
	
	.news a.icon.zoom:hover {
		background-color:#FFFFFF;
	}
	
	.news-intro {
		background:#FFFFFF;
	}
	


/* ------------------------------------------------------------------------------- */
/*  14. News Post page
/* ------------------------------------------------------------------------------- */		
	
	.news_page {
		background-color:#FFFFFF;
	}
	
	.comment-date, p.post-admin, p.post-calendar, p.post-tagss, p.post-commentss {
		color:#A1A1A1;
	}
	
	.news_comments {
		background-color:#ECECEC;
		border-top: solid 1px #dddddd;
	}
	
	.comment-content {
		color:#555555;
	}

	h3#reply-title { color:#262932; }

/* ------------------------------------------------------------------------------- */
/*  15. Twitter
/* ------------------------------------------------------------------------------- */	
	
	.twitter h2 {
		color:#FFFFFF;
	}
	
/* ------------------------------------------------------------------------------- */
/*  16. Contact
/* ------------------------------------------------------------------------------- */	
	
	input, textarea {
		background:#FFFFFF;
		
	}
	
	input,input:focus, textarea, textarea:focus {
		color:#808080;
	}
	
	input.send_message {
		background:#8D0B16;
		color:#FFFFFF;

	}
	
	input.send_message:hover {
		background:#262932;
	}
	
	.error_message {
		background-color: #FFE9E9;
		border-color: #FBC4C4;
		color: #DE5959;
	}

	
	fieldset h1{
		color:%black
	}

	#c-contact { background:#ECECEC; }


/* ------------------------------------------------------------------------------- */
/*  17. Footer
/* ------------------------------------------------------------------------------- */	
	
	
	.footer ul.contactus li [class^="icon-"], .the-icons li [class*=" icon-"] {
		color: #8D0B16;
	}

	
	.footer-social {
		background-color:#363942;
	}
	
	.footer-social:hover {
		background-color:#8D0B16;
	}
	
	
	.footer ul.contactus {
		border-bottom: 1px solid #363942;
	}
	
	.footer ul.contactus li {
		color: #FFFFFF;
	}
	
	.footer ul.contactus li span.phone {
		color: #FFFFFF;
	}
	
	.copyright {
		border-top: 1px solid #363942;
	}
	
	.copyright p{
		color:#FFFFFF;
	}

	
	
/*
404 page
*/
.twitter.e404 { color:#FFFFFF; }

#page.e404 .error { color:#8D0B16; }
#page.e404 .errortext { color:#000000; }
#page.e404 .backhome { color:#FFFFFF; background:#8D0B16; }
/*
Notify box
*/
.sh-notify { background:#eeeeee; border:1px solid #F2F2F2; }
.sh-notify-title { color:#4c4c4c;  }

.accordionButton.black {
    background: url("/wp-content/themes/eleven13/images/accordion-up.png") no-repeat scroll left center #1e2024;
	color: #FFFFFF;
}
.accordionContent.black p {
    color: #7f7f7f;
}

.accordionButton.black.ui-state-hover, .accordionButton.ui-accordion-header-active{
    background: url("/wp-content/themes/eleven13/images/accordion-down.png") no-repeat scroll left center #8D0B16;
    color: #FFFFFF;
}
.accordionButton.black.over {
    background: url("/wp-content/themes/eleven13/images/accordion-up.png") no-repeat scroll left center #8D0B16;
    color: #FFFFFF;
}
.accordionButton.color {
    background: url("/wp-content/themes/eleven13/images/accordion-up.png") no-repeat scroll left center #8D0B16;
	color: #FFFFFF;
}
.accordionContent.color p {
    color: #7f7f7f;
    padding: 10px 20px 20px;
}
.accordionButton.color.ui-state-hover {
    background: url("/wp-content/themes/eleven13/images/accordion-down.png") no-repeat scroll left center #000000;
    color: #FFFFFF;
}
.accordionButton.color.over {
    background: url("/wp-content/themes/eleven13/images/accordion-up.png") no-repeat scroll left center #000000;
    color: #FFFFFF;
}


.pricing-table p , .pricing-table-second h4 span {
    color: #8D0B16;
}

.pricing-table-second .table-title {
    background: none repeat scroll 0 0 #8D0B16;
	}
.b-color {
    background: none repeat scroll 0 0 #8D0B16;
}
.b-grey {
    background: none repeat scroll 0 0 #7F7F7F;
}
.b-black {
    background: none repeat scroll 0 0 #000000;
}
.pricing-table .column h2 { color:#8D0B16; }

.pricing-table-second h2 {
    color: #FFFFFF;
	background:#8D0B16;
}

@media only screen and (max-width: 959px) {
	#navigation ul li:hover a, #navigation ul li.current a {
		color: #000000;
		border-top: 0px; 
	}
}



/* 1.3 */

.blog .post { border-bottom:1px solid #F2F2F2; }
.blog .postquote.wrap { border-bottom:1px solid #F2F2F2; }
.blog .posthead .social a:hover, .project.posthead .social a:hover { color:#8D0B16; }
.blog .tagcloud a:hover { background:#8D0B16; }
.blog .widget > ul li a { border-top:1px solid #F2F2F2; color:#8D0B16; }
.blog .widget > ul li a:hover { color:#262932; }
.blog .post.quote { background:#8D0B16;}
.blog .post.quote:hover { background:#000000;}
.blog .post.quote .pcontent, 
.blog .post.quote .title, 
.blog .post.quote .title a, 
.blog .post.quote .meta *,
.blog .post.quote .meta a { color:#FFFFFF; border-color:#FFFFFF; }


#wp-calendar { border:1px solid #F2F2F2;  }
#wp-calendar a { background:#8D0B16; color:#FFFFFF; }
#wp-calendar a:hover { background:#363942; }
#wp-calendar caption { background:#8D0B16; color:#FFFFFF;  }


.toggle > a { color: #000000; }
.toggle > a.open { background-color:#8D0B16; color:#ECECEC;  }
.toggle > a i {  color:#000000; }
.toggle > a.open i {  color:#ECECEC; }



.call-to-action { 	background-color: #ebebeb; } 
.call-to-action .container a {
	background: none repeat scroll 0 0 #8D0B16;
	}
.call-to-action .triangle {   border-top: 10px solid #FFFFFF;}
.call-to-action a { color:#ECECEC; }
.call-to-action span {
	color:#8D0B16;
}


	
	.footer ul.contactus li {color: #FFFFFF;
	}


	.footer ul.contactus li [class^="icon-"], .the-icons li [class*=" icon-"] {
		color: #8D0B16;
	}

	.footer ul.contactus li span.phone {
	color: #FFFFFF;
	}

	.team {
		background-color: #FFFFFF;
	}

	.news-intro {
		background: none repeat scroll 0 0 #FFFFFF;	
	}


@media only screen and (max-width: 479px) {
	#logo {
	color: #FFFFFF;
	}
}

@media only screen and (max-width: 479px) {
#navigation ul {
		background: url("/wp-content/themes/eleven13/images/icon-menu.png") no-repeat scroll 10px 11px #FFFFFF;
	}

}

.pricing-table-second .column, .pricing-table .level-max .footer {
    background: none repeat scroll 0 0 #FFFFFF;
    border-top: 1px solid #EAEAEA;
}
	
.ebtn.btn-small, .clapat-notify .btn-large, .ebtn.btn-large {
	color: #FFFFFF;
}	
	.ebtn.btn-small:hover {
    color: #FFFFFF;
    opacity: 1;
}
	
.clapat-notify .btn-large:hover , .ebtn.btn-large:hover , .clapat-notify  .btn-medium:hover, .ebtn.btn-medium:hover {
    color: #FFFFFF;
    opacity: 1;
}	
	
.b-color {
    background: none repeat scroll 0 0 #8D0B16;
}
.b-grey {
    background: none repeat scroll 0 0 #7F7F7F;
}
.b-black {
    background: none repeat scroll 0 0 #000000;
}	
	
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.pricing-table .level-max {
		background: none repeat scroll 0 0 #FFFFFF;
	}
}	

.pricing-table .level-max {
background: none repeat scroll 0 0 #FFFFFF;
}

.clapat-notify  .btn-medium, .btn.btn-medium {
color: #FFFFFF;
}
.pricing-table .column {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 10px solid #EAEAEA;
}	
.call-to-action .container a {
color:#FFFFFF;
}	
.blog .tagcloud a {  color:#FFFFFF; }	



div.postnav > a { background:#8D0B16; }
div.postnav > a:hover { background:#262932; }
div.postnav  span { color:#FFFFFF; }	


.blog.single .comment-edit-link,
.blog.single .comment-reply-link {
	background:#8D0B16;
	color:#FFFFFF;
}


/*---Colors:#FFFFFF,#000000,#8D0B16,#ECECEC,#ebebeb,#dddddd,#A1A1A1,#F2F2F2,#eeeeee,#ababab,#C4C4C4,#7f7f7f,#555555,#363942,#262932,#808080,#1e2024---*/